
[Unit]
Description=video-1080-30f
After=multi-user.target

[Service]
TimeoutStartSec=0
ExecStart=/home/pi/comtrolar--navio-video-telemetria-master/video-1080-30f
Restart=always

[Install]
WantedBy=multi-user.target

