[Unit]
Description=graba-video-1080-30f
After=network.target user.slice

[Service]
ExecStart=/home/pi/comtrola--navio-video-telemetria/graba-video-1080-30f
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
Alias=graba-video-1080-30f.service
