
[Unit]
Description=temperatura.py
After=multi-user.target

[Service]
TimeoutStartSec=0
ExecStart=/home/pi/comtrolar--navio-video-telemetria-master/temperatura.py
Restart=always

[Install]
WantedBy=multi-user.target
