[Unit]
Description=video
After=multi-user.target

[Service]
TimeoutStartSec=0
ExecStart=/home/pi/comtrolar--navio-video-telemetria-master/video
Restart=always

[Install]
WantedBy=multi-user.target
